# Node.js dependencies
/node_modules

# Yarn / PnP files
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables (never push secrets)
.env.local
.env.*      # optionally ignore all env files except .env.example

# Vercel deployment files
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts